/* .hero-container {
  background-color: #006a58;
  color: white;
  padding: 2rem 1rem;
  text-align: center;
  position: relative;
}

.hero-title {
  font-size: 8rem;
  margin-bottom: 2rem;
}

.hero-subtitle {
  font-size: 2rem;
  margin-top: 8rem;
}

.hero-image {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  height: auto;
} */


.hero-container {
  background-color: #ebf5fb;
  color: white;
  padding: 2rem 1rem;
  text-align: center;
  position: relative;
}

.hero-title {
  font-size: 8rem;
  margin-bottom: 2rem;
}

.hero-subtitle {
  font-size: 2rem;
  margin-top: 8rem;
}

.hero-image {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  height: auto;
}